<div class="tab-pane" id="login">
  <h3>Login</h3>
  <p class="text-muted">Log into your account</p>
  <!--Login Form-->
  <%= form_for :user ,url: user_session_url,html: {id: 'Login_form'},method: :post  do |f| %>
  <!-- <form name="Login_form" id='Login_form'> -->
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="my-email" class="sr-only">Email</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control input-group-lg" ,placeholder: "Your Email",id: "email_id" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="my-password" class="sr-only">Password</label>
        <%= f.password_field :password, autocomplete: "off" ,class: "form-control input-group-lg", placeholder: "Password",id: "password_id" %>
      </div>
    </div>
  <!-- </form> -->
 
  <!--Login Form Ends--> 
  <p><a href="/users/password/new">Forgot Password?</a></p>
  <%= f.submit 'Login Now' ,class: "btn btn-primary" %>
  <% end %>
</div>