<% if current_user %>
    <footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-12 col-sm-12">
				<div class="logo-ftr text-center">
					<a href=""><img src="/assets/logo-black.png" alt="" class="footer-logo" /></a>
				</div>              
              <ul class="footer-links text-center">
                <!-- <li><a href="register.html" target="_blank"><i class="fa fa-circle" aria-hidden="true"></i> Signup</a></li> -->
                <!-- <li><a href="register.html" target="_blank"><i class="fa fa-circle" aria-hidden="true"></i> login</a></li> -->
                <li><a href="" target="_blank"><i class="fa fa-circle" aria-hidden="true"></i> About us</a></li>
                <li><a href="" target="_blank"><i class="fa fa-circle" aria-hidden="true"></i> Privacy Policy</a></li>
                <li><a href="" target="_blank"><i class="fa fa-circle" aria-hidden="true"></i> Advertising with us</a></li>
                <li><a href="" target="_blank"><i class="fa fa-circle" aria-hidden="true"></i> Contact us</a></li>
              </ul>
            </div>



          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>Mera Network © 2018. All rights reserved</p>
      </div>
		</footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    
    <!-- Scripts
    ================================================= -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
    <script src="/assets/jquery-3.1.1.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.sticky-kit.min.js"></script>
    <script src="/assets/jquery.scrollbar.min.js"></script>
    <script src="/assets/script.js"></script>
<% end %>