<% unless current_user %>
  <header id="header-inverse">
    <nav class="navbar  navbar-fixed-top menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if !current_user.present? %>
            <a class="navbar-brand" href="/">
              <img src="/assets/logo.png" alt="logo" />
            </a>
          <% end %>
        </div>
      </div><!-- /.container -->
    </nav>
  </header>
<% else %>
  <header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/logo.png" alt="logo" /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right main-menu">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span><img src="/assets/down-arrow.png" alt="" /></span></a>
              <ul class="dropdown-menu newsfeed-home">
                <li><a href="index.html">Landing Page 1</a></li>
                <li><a href="/">Landing Page 2</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Newsfeed <span><img src="/assets/down-arrow.png" alt="" /></span></a>
              <ul class="dropdown-menu newsfeed-home">
                <li><a href="newsfeed.html">Newsfeed</a></li>
                <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                <li><a href="newsfeed-friends.html">My friends</a></li>
                <li><a href="newsfeed-messages.html">Chatroom</a></li>
                <li><a href="newsfeed-images.html">Images</a></li>
                <li><a href="newsfeed-videos.html">Videos</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timeline <span><img src="/assets/down-arrow.png" alt="" /></span></a>
              <ul class="dropdown-menu login">
                <li><a href="timeline.html">Timeline</a></li>
                <li><a href="timeline-about.html">Timeline About</a></li>
                <li><a href="timeline-album.html">Timeline Album</a></li>
                <li><a href="timeline-friends.html">Timeline Friends</a></li>
                <li><a href="edit-profile-basic.html">Edit: Basic Info</a></li>
                <li><a href="edit-profile-work-edu.html">Edit: Work</a></li>
                <li><a href="edit-profile-interests.html">Edit: Interests</a></li>
                <li><a href="edit-profile-settings.html">Account Settings</a></li>
                <li><a href="edit-profile-password.html">Change Password</a></li>
              </ul>
            </li>
            <% if !(params[:controller] == "payements")%>
            <li class="dropdown"><a href='/profile/<%= current_user.id %>'>Profile</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-person-stalker"></i> <span><img src="/assets/down-arrow.png" alt="" /></span></a>
                <ul class="dropdown-menu newsfeed-home frienduser-menu">
                  <li class="first-setting">
                        <div class="titlefrind-set">
                            <div class="request-friends">
                                <a href="#">Friend Requests</a></div>
                            <div class="findsetting-grp">
                                <a href="#">Find Friends</a>
                                <a href="#" class="last">Setting</a>
                            </div>
                        </div>             
                  </li>
                  <li>
                    <div class="friends-all">
                        <div class="left-friends">
                            <span class="img-frinds">
                                <img src="/assets/rkumar.png" class="profile-photo-sm"/>
                            </span>
                            <span class="img-infor">
                                <a href="#" class="name-friend">Rahul Kumar</a>
                                <a href="#" class="mutual-friend">32 mutual friends</a>
                            </span>
                        </div>
                        <div class="right-friends">
                            <a href="#" class="confirn-btn">Confirm</a>
                            <a href="#" class="delete-btn">Delete</a>
                        </div>
                    </div>
                  </li>
                   <li>
                    <div class="friends-all">
                        <div class="left-friends">
                            <span class="img-frinds">
                                <img src="/assets/rk.png" class="profile-photo-sm"/>
                            </span>
                            <span class="img-infor">
                                <a href="#" class="name-friend">Rohan Kakkar</a>
                                <a href="#" class="mutual-friend">9 mutual friends</a>
                            </span>
                        </div>
                        <div class="right-friends">
                            <a href="#" class="confirn-btn">Confirm</a>
                            <a href="#" class="delete-btn">Delete</a>
                        </div>
                    </div>
                  </li>
                </ul>
              </li>
            <li class="dropdown"><a href="/users/sign_out" data-method="delete" >Logout</a></li>
            
          </ul>
          <form class="navbar-form navbar-right hidden-sm people-search">
              <div class="form-group">
                <i class="icon ion-android-search"></i>
                <input type="text" class="form-control" id="find_friend" placeholder="Search...">
              </div>
              <div class="search-ftr" style="display:none;">
                <div class="title-f">
                    <h3>Recent Searches</h3>
                    <a id="friend_search" href="#"><i class="fa fa-search"></i> Arti </a>
                </div>
              </div>
          </form>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
<% end %>