<% unless current_user %>
  <header id="header-inverse">
    <nav class="navbar  navbar-fixed-top menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if !current_user.present? %>
            <a class="navbar-brand" href="/">
              <img src="/assets/logo.png" alt="logo" />
            </a>
          <% end %>
        </div>
      </div><!-- /.container -->
    </nav>
  </header>
<% else %>
  <header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/logo.png" alt="logo" /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-person-stalker"></i> </a>
                <ul class="dropdown-menu newsfeed-home frienduser-menu">
                  <li>
                    <div class="friends-all">
                        <div class="left-friends">
                            <span class="img-frinds">
                                <img src="/assets/rkumar.png" class="profile-photo-sm"/>
                            </span>
                            <span class="img-infor">
                                <a href="#" class="name-friend">Rahul Kumar</a>
                                <a href="#" class="mutual-friend">32 mutual friends</a>
                            </span>
                        </div>
                        <div class="right-friends">
                            <a href="#" class="confirn-btn">Confirm</a>
                            <a href="#" class="delete-btn">Delete</a>
                        </div>
                    </div>
                  </li>
                   <li>
                    <div class="friends-all">
                        <div class="left-friends">
                            <span class="img-frinds">
                                <img src="/assets/rk.png" class="profile-photo-sm"/>
                            </span>
                            <span class="img-infor">
                                <a href="#" class="name-friend">Rohan Kakkar</a>
                                <a href="#" class="mutual-friend">9 mutual friends</a>
                            </span>
                        </div>
                        <div class="right-friends">
                            <a href="#" class="confirn-btn">Confirm</a>
                            <a href="#" class="delete-btn">Delete</a>
                        </div>
                    </div>
                  </li>
                </ul>
              </li>
             
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="img-user"><img src="/assets/rkumar.png"/></span> Sujit<span style="margin:0 0 0 3px;"> <img src="/assets/down-arrow.png" alt="" /></span></a>
                <ul class="dropdown-menu users-login">
                  <li><a href="/profile/<%= current_user.id %>"><i class="ion-android-person dark-blue"></i> My Profile</a></li>
                  <li><a href="#"><i class="ion-compose pink-color"></i> Edit</a></li>
                  <li><a href="#"><i class="ion-mouse orange-color"></i> Setting</a></li>
                  <li><a href="#"><i class="ion-gear-b light-green"></i> Support</a></li>
                  <li><a href="#"><i class="ion-unlocked red-color"></i> Logout</a></li>
                </ul>
              </li>
            </ul>
            <%= render template: "/home/common/search"%>
        </div>
      </div>
    </nav>
  </header>
<% end %>