<div class="container">
  <div class="timeline">
    <div id="page-contents">
      <% if (current_user.id == @user.id) %>
        <%= render template: "profile/about_us"%>
      <% else %>
        <%= render template: "profile/friend_details"%>
      <% end %>
    </div>
  </div>
</div>