<div class="col-md-3">
    <!--Edit Profile Menu-->
    <ul class="edit-menu">
        <li class="active"><i class="icon ion-ios-information-outline"></i><a href="#" id="basic_info">Basic Information</a></li>
        <li><i class="icon ion-ios-briefcase-outline"></i><a href="#" id="education_work">Education and Work</a></li>
        <li><i class="icon ion-ios-heart-outline"></i><a href="#" id ="edit_profile_interests">My Interests</a></li>
      <li><i class="icon ion-ios-settings"></i><a href="#" id="profile_setting">Account Settings</a></li>
        <li><i class="icon ion-ios-locked-outline"></i><a href="#" id="change_password">Change Password</a></li>
    </ul>
  </div>